@import "../../variables.scss";

.mediaIconCont {
    align-items: center;
    border-radius: $base-spacing/2;
    color: white;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 4px;
    width: 30px;
    transition: 200ms;

    &:hover {
        background-color: $primary-color;
    }

    .mediaIcon {
        font-size: 20px;
    }
}

.navIcon {
    height: 25px;
    width: 25px;

    .mediaIcon {
        font-size: 15px;
    }

}

.footerIcon {
    background-color: white;
    color: black;
}