@import "../../variables.scss";

.navbar {
    width: 100%;
    
    img {
        display: block;
        position: relative;
        width: 100%;
        z-index: 1000;
    }

    .navLinkBar {
        background-color: black;
        display: flex;
        position: absolute;
        transition: $transition-speed ease-in-out;
        width: 100%;

        ul {
            flex-grow: 1;
            list-style: none;
            padding: 0;
        }

        .arrowCont {
            cursor: pointer;
            height: 100%;
            padding-right: $base-spacing;

            &:hover {
                background-color: $primary-color;
            }
        }

        .navArrow {
            align-items: center;
            color: white;
            display: flex;
            height: 30px;
            justify-content: center;
            margin-left: $base-spacing;

            svg {
               height: 20px;
               width: 20px; 
            }
        }
    }

    .navLinksOpen {
        padding: 0 $base-spacing $base-spacing;        
    }

    .navSecondary {
        align-items: center;
        background-color: black;
        display: flex;
        height: 36px;
        justify-content: space-between;
        padding: $base-spacing/2 $base-spacing;
        position: relative;
        z-index: 1000;

        .burgerIcon {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 15px;
            position: relative;
            width: 20px;
            
            span {
                background-color: white;
                border-radius: $base-spacing;
                display: block;
                height: 2px;
                position: absolute;
                top: 0;
                transform: rotate(0deg) translate(0px);
                transition: $transition-speed ease-in-out;
                width: 20px;
            }

            span:nth-child(2) {
                top: 7.5px;
            }

            span:nth-child(3) {
                top: 15px;
            }

            span.navCross:nth-child(1) {
                height: 3px;
                top: 7.5px;
                transform: rotate(135deg);
            }

            span.navCross:nth-child(2) {
                opacity: 0;
                transform: translateX(-100%);
            }

            span.navCross:nth-child(3) {
                height: 3px;
                top: 7.5px;
                transform: rotate(-135deg);
            }
        }

        .socialMediaIcons {
            display: flex;
        }
    }
}
