.enter {
    border-top: solid 1px rgba(255,255,255,0.3);
    // opacity: 0;
    overflow: hidden;
    transform: translateY(-100%);
}

.enterActive {
    transform: translateY(0);
    // opacity: 1;
    overflow: hidden;
    transition-duration: 500ms;
}

.enterDone {
    // border-top: solid 1px rgba(255,255,255,0.3);
}

.exit {
    transform: translateY(0);
    opacity: 1;
    overflow: hidden;

    transition: opacity 500ms, transform 500ms;
}

.exitActive {
    // opacity: 0;
    overflow: hidden;
    transform: translateY(-150%);
}