@import "../../variables.scss";

.enter {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100%);
}

.enterActive {
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    transition-duration: $transition-speed;
}

.exit {
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    transition: $transition-speed;
}

.exitActive {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-150%);
}