@import "../../variables.scss";

.footer {
    background-color: black;
    bottom: 0;
    color: white;
    padding: 0 $base-spacing*2;
    position: absolute;
    width: 100%;

    p {
        font-size: 12px;
        line-height: 25px;
    }

    .bottomText {
        display: flex;
    }

    .footerLinks {
        border-top: solid 1px rgba(255, 255, 255, 1);
        display: flex;
        padding: $base-spacing 0;
        justify-content: space-between;
    }

    .footerTop {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $base-spacing 0;

        .gcnLogo {
            height: 40px;
            width: 100px;
        }

        .socialMediaIcons {
            display: flex;
        }
    }
}