@import "../../variables.scss";

.footer {
    background-color: black;
    bottom: 0;
    color: white;
    padding: 0.5*$base-spacing $base-spacing;
    position: absolute;
    width: 100%;

    .footerTop {
        display: flex;
        justify-content: space-between;

        .gcnLogo {
            height: 40px;
            width: 100px;
        }
    }
}